@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply min-h-screen bg-black font-sans text-white antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}

