# Root ignores
node_modules
.env
.env.*
!.env.example
!client/.env.example
*.log
dist
.DS_Store
PROJECT/
client/public/PROJECT/
*.mp4
*.mov
*.avi
*.mkv

# Client
client/node_modules
client/dist
client/.vite
client/.env

# Server
server/node_modules
server/.env
server/uploads/*
!server/uploads/.gitkeep

# IDE
.idea
.vscode

